:root {
  --blue: #38B2D9;
  --backgorund: #F0F2F3;
  --secondary: #B3B3B3;
  --font-color:  #4D4D4D;
  --blue-effect: #0071BC;
  --font-lighter: 300;
  --font-normal: 400;
  --font-bold: 600;
  --font-bolder: 900;
}

body {
  font-family: 'Arial', Tahoma, sans-serif;
  color: var(--font-color);
  background: var(--backgorund);
  font-size: 16px;
  font-weight: var(--font-normal);
}

strong {
  font-weight: var(--font-bold);
}

h1, h2 {
  font-size: 30px;
  font-weight: var(--font-lighter);
  line-height: 100%;
}

h3 {
  font-size: 22px;
  font-weight: var(--font-lighter);
}

h4 {
  font-size: 18px;
  font-weight: var(--font-lighter);
}

p {
  font-size: 16px;
}

.btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: var(--blue);
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: var(--font-lighter);
  font-size: 20px;
  padding: 10px 17px;
  border-radius: 4px;
  transition: color 200ms linear;
  border: none;
  text-align: center;
  line-height: 100%;
  min-height: 42px;
}

.btn span {
  display: block;
}

.btn svg {
  fill: var(--blue);
  display: block;
  height: 20px;
  margin-left: 10px;
  transition: fill 200ms linear;
}

.btn:hover {
  color: var(--blue-effect);
}

.btn:hover svg {
  fill: var(--blue-effect);
}

.btn.btn-primary {
  background-color: white;
}

.btn.btn-secondary {
  background-color: var(--secondary);
  color: white;
}

.btn.btn-secondary svg {
  fill: white;
}

.btn.btn-secondary:hover {
  color: #575757;
}

.btn.btn-secondary:hover svg {
  fill: #575757;
}

.btn-shadow {
  -webkit-box-shadow: -15px 15px 0 0 rgba(0,0,0,.3);
  box-shadow: -10px 10px 0 0 rgba(0,0,0,.3);
}

.form-group {
  padding-bottom: 15px;
}

.form-group input {
  display: block;
  width: 100%;
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 4px;
  border: none;
  background-color: var(--backgorund);
  color: var(--secondary);
}

.form-group input::placeholder {
  color: var(--secondary);
}

.form-group input[disabled], .form-group button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

.error-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
  min-height: 100vh;
}

.error-page .message {
  padding: 45px 25px;
  text-align: center;
}

.error-page .message h1 {
  color: var(--blue);
}
